.AppLogin {
    text-align: left;
    display: flex;
    min-height: 100vh;
    align-items: left;
    justify-content: left;
    background-color: #F6F6F6;
    padding-left: 100px;
    margin-top: 0%;
    border-radius: 4px;
}

.login-form {
    display: flex;
    flex-direction: column;

}

label {
    text-align: left;
    padding: 0.25rem 0;

}

input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
}

button {
    border: none;
    background-color: #505F98;
    padding: 20px;
    border-radius: 4px;
    cursor: pointer;
    color: #F6F6F6;
}


.password-warning {
    padding-bottom: 30px;
    width: 100%;
    height: 18%;
    left: 465%;
    top: 517%;

    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15.60px;
    color: #505F98;
}

.Header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.logoEase {
    width: 170px;
    height: 33px;
    left: 204px;
    top: 103px;
    width: 170px;

    color: #21334F;
    padding-left: 20px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32.63px;
    color: #21334F;
}

.TicketLogo {
    padding-left: 0px;
    padding-top: 40px;
}

.LoginImagery {
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    height: 1125px;
    width: 600px;
    padding-left: 80px;
    margin-left: 50px;
}

.image {
    max-width: 70%;
    /* Reducing the image width by half */
    height: auto;
    /* Maintain aspect ratio */
    display: block;
    /* Remove default inline spacing */
    padding-top: 10px;
}

.ErrorIcon {
    width: 24px;
    height: 24px;
    display: flexbox;
}

.LoginToYourAccount {
    font-family: Mulish;
    font: bold;
    font-style: normal;
    font-weight: 800px;
    font-size: 24px;
    line-height: 30px;
    width: 253px;
    height: 30ox;
}

.logo-container {
    display: flex;
    align-items: center;

}

.PassEmail {
    font-family: Mulish;
    font: normal;
    font-style: normal;
    font-weight: 400px;
    font-size: 16px;
    line-height: 20.08px;
    width: 74px;
    height: 20px;
}

.PassEmailLabel {}